@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Be Vietnam pro", sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    list-style: none;
    color: black;
    text-decoration: none;
}
/*Aca implementamos la estrategia de diseño MOBILE FIRS*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}
.caja1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%vw;
    height: 780px;
    margin: auto;
    padding: 10px 0px;
    align-items: center;
}

.imagen-principal img{
    display: flex;
    width: 75vw;
}

.hamburger {
    position: absolute;
    right: 0;
    top: 5px;
    padding: 20px;
    width: 80px;
}

.nav-var{
    display: none;
}

.boton-contact1{
    display: none;
}

.intro{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 70vh;
    align-items: flex-end;
}

h1{
    display: flex;    
    color:#232C50;
    font-size: 45px;
    font-weight: bold;
    text-align: right;
    width: 70%vw;
    margin: 10px;
}

menu{
    display: flex;
    flex-direction: column;
}

.sombra-p{
    display: flex;
    text-align: right;
    font-weight: bold;
    width: 90%;
    margin: 10px;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content:flex-start;
}

.boton-contact1 {
    background-color: #8B48BF;
    border: none;
    border-radius: 40px;
    color: #FFFFFF;
    padding: 10px 15px;
    position:absolute;  
    height: 50px;
    width: 150px;
    font-size: 16px;
} 


.boton-contact {
    background-color: #8B48BF;
    color: #FFFFFF;
    border: none;
    border-radius: 40px;
    font-size: 14px;
    margin-top: 20px;
    left:55%;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 10px 15px;
    height: 50px;
    width: 150px;
}
.numeroboton{
    background-color: #8B48BF;
    color: #FFFFFF;
    border: none;
    border-radius: 40px;
    font-size: 14px;
    position:absolute;
    padding: 10px 15px;
}

.different{
    background-color: #3CDDF3;
    padding: 20px 20px;
    margin-top: 20px;
}

.white-tex{
    color: white;
    margin-top: 50px;
}

h2{
    font-size: 36px;
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
}

.parrafos-numerados {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align:left;
    margin-left: 10px;
}

.parrafos-numerados p {
    color: #B3B2B7;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 25px;
}

.titulos-centrales {
    background-color:  #dcccec;
    color: #323851;
    text-align: center;
    margin-left: 35px;
    padding: 10px;
}

header  .hamburger:hover{
    transform: scale(1.3);;
}

body{
    font-size: 16px;
}

.cards {
    display: flex;  
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%vw;
    margin-bottom: 50px;
}

.cards h2{
    color:#232851;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 40px;
    font-size: 32px;
}

.contenedores{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    margin:5px;
    padding: 5px;
    width: 100%vw;   
}

.contenedores h3{
    text-align: center;
    padding-top: 30px;
    color:#232851;
}

.jugadores {
    display: flex;
    flex-direction: column;
    background-color: rgb(249, 249, 249);
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-around;
    width: 30%vw; 
}

.jugadores img{
    display: flex;
    width: 70px;
    height: 70px;
    position: absolute;
    left: calc(39%);/*50*/
    top: -50px;
}

#navarro, #sanyo {
    display: none;
}

.jugadores p {
    text-align: center;
    color:gray;   
}

.cards button {
    border-radius: 40px;
    background-color: #8B48BF;
    color: white;
    font-size: 16px;
    border: none;
    height: 50px;
    width: 150px;
    margin-bottom: 30px;
}

.get_know{
    display: flex;
    flex-direction: column;
    background-color: #3CDDF3;
    width: 100vw;
    margin: 0px;
}

.get_know h2{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 50px;
}

.get_know div {
    display: flex;
    justify-content: center;
    align-items:center;
}

.get_know button {
    border-radius: 40px;
    background-color: #232851;
    color: white;
    font-size: 12px;
    border: none;
    height: 50px;
    width: 150px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
}

.input_form{
    display: flex;
    border-radius: 40px;
    font-size: 12px;
    border: none;
    height: 45px;
    width: 250px; /* 300 px */
    justify-content: center;
}

.boton_submit {
    border-radius: 40px;
    background-color: #8B48BF;
    color: white;
    font-size: 12px;
    border: none;
    height: 45px;
    width: 70px;
    margin-left: 6px;
}

footer {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%vw;  
    height: 310px;   
    background-color:#1E1E26; 
    justify-content: center;
    align-items:center;
    justify-content: space-around;
    font-size: 14px;
    margin-top: 0px;
}

.enlaces .a-enlaces {
    color: white;
    text-decoration: none; 
}

.enlaces{
    display: flex;
    width: 100vw;
    justify-content: center;
}

.enlaces .ul-enlaces {
    display: flex;
    width: 100%;
    margin: 0%;
    flex-direction: row;
    justify-content: space-between;
}

.enlaces .li-enlaces{
    color: white;
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: space-around;
    margin:10px;
}

.redes_sociales {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

footer div {
    align-content: center;
}

ul {
    list-style: none;
} 

.derechos {
    color: rgb(249,249,249);    
}

a:hover{
    background-color: gold;
}

a:active{
    background-color: rgb(234,0,255);
    border-color: rgb(161,17,89);
    color: red;
}

input:focus{
color:rgb(13, 6, 113);
font-weight: rgb(41, 2, 2);
}

/*Aca cambiamos de  MOBILE a DESKTOP con la media querie*/
@media (min-width:480px){
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 30px;
    }
    .nav-var{
        display: block;
    }
    .different {
        background-color: #8B48BF;
        display: flex;
        align-items: center;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .caja1 {
        display: flex;
        flex-direction: row;
        padding: 25px 30px;
        flex-wrap: nowrap;
        height:83vh;
        position: relative;
    }
    .imagen-principal img{
        display: flex;
        width: 55vw;
    }

    header .hamburger {
        display: none;
    }

    header .boton-contact1 {
        display: block;
        position: relative;
    }

    h1{
        font-size: 3.4vw;
    }

    .sombra-p{
        font-size: 1.5vw;
        text-align: right;
        font-weight: bold;
    }

    li a {
        color: #242E52;
        justify-content: center;
        align-items: center;
        margin-left: 1vw;
    }
    .titulos-centrales {
        background-color: white;
    }

    .parrafos-numerados{
        /*background-color: #FAFAFA; */
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%vw;
        height: 500px;
        /*z-index: 1;*/
    }

    .contenedor1 {
        width: 45%;
    }
    .contenedor2 {
        width: 45%;
    }
    .contenedor3 {
        width: 45%;
        position: absolute;
        top:280px;
        left:25vw;
    }
    .cards h2{
        font-size: 32px;  
    }
    #navarro, #sanyo {
        display: block;
    }
    .jugadores {
        margin-left: 0px;
        margin-right: 0px;  
    }
    .jugadores div{
        width: 30%vw;  
    } 
    .get_know{
        background-color:  #8B48BF;
        color: white;
        flex-direction: row;
        justify-content: space-around;
        width: 100%vw; /* NO lo tenia  en github*/
    }
    .get_know button {
        border-radius: 40px;
        background-color: white;
        color:  #8B48BF;
        justify-content: flex-end;
    }
    .get_know h2{
        justify-content: flex-start;
        width: 450px; 
    }
    footer {
        flex-direction: row;
        flex-wrap:wrap; 
        height: 300px;  
    }
    .input_form{
        width: 310px; 
    }
    form{
        width: 95%;
        order:3;
    }
    .enlaces{
        width: 30%;
        order:-1; 
    }
    .redes_sociales{
        width: 25%;
    }
    .logo{
        width: 25%;
        order:-2;
    }
}
